@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,800;1,800&family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --yellow: hsl(47 88%, 63%);
    --gray-950: hsl(0, 0%, 7%);
    --gray-500: hsl(0, 0%, 42%);
    --white: hsl(0, 0%, 100%);
    --figtree: 'Figtree', sans-serif;
}

body {
    font-family: var(--figtree);
    font-optical-sizing: auto;
    font-style: normal;
    font-display: swap;
    background-color: var(--yellow);
}

main {
    display: flex;
    min-height: 100vh;
    padding: 24px;
    align-items: center; /* позиционирование по центру */
    justify-content: center;
}

.card {
    max-width: 384px;
    min-width: 327px;

    background-color: var(--white);
    padding: 24px;
    border-radius: 20px;
}

.card__blog-img {
    width: 100%;
    border-radius: 10px;
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}