/* @font-face {
    font-family: 'Figtree', sans-serif;
    src: url('../assets/fonts/Figtree-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Figtree', sans-serif;
    src: url('../assets/fonts/Figtree-ExtraBold.woff2') format('woff2');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
} */

@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,800;1,800&family=Outfit:wght@100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

:root {
    --yellow: hsl(47 88%, 63%);
    --gray-950: hsl(0, 0%, 7%);
    --gray-500: hsl(0, 0%, 42%);
    --white: hsl(0, 0%, 100%);
    --figtree: 'Figtree', sans-serif;
}

body {
    font-family: var(--figtree);
    font-optical-sizing: auto;
    /* font-weight: auto; */
    font-style: normal;
    background-color: var(--yellow);
}

.attribution { 
    font-size: 11px; 
    text-align: center; 
}

.attribution a { 
    color: hsl(228, 45%, 44%); 
}